  
.dashboard-preview {
   float:left;
   width:160px;
   height:150px;
   margin: 10px;
   padding:5px;
   background-color:#f5f7f9;
   border-right: #a5a7aa solid 1px;
   border-bottom: #a5a7aa solid 1px;
   text-align:center;
   font-size:9px;
} 